<footer class="bg-dark text-center text-white fixed-bottom">
  <p class="text-center my-3">Desenvolvido por Cleber Pereira, 2023.</p>
  <!-- Grid container -->
  <div class="container p-2">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/cleber-pereira-9a5384235/" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/cleberpereiradev" role="button" target="_blank"><i class="fab fa-github"></i></a>
    </section>
  </div>
</footer>
